$bcolor1: rgb(37, 37, 37);
$color1: black;
$color2: Orange;
$color3: rgba(0, 0, 0, 0.5);

#contact {
    h3 {
        margin-bottom: 1rem;
    }

    p {
        color: $color2;
        margin-bottom: 3rem;
    }

    a {
        display: inline-block;
        width: 150px;
        color: $color2;
        padding: 1rem;
        border: 2px solid $color2;
        border-radius: 2px;
        text-decoration: none;

        &:hover {
            color: white;
            background-color: $color2;
        }
    }

}