@import '../../variables.scss';

#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        margin-bottom: 1rem;
    }

    p {
        color: $color2;
        margin-bottom: 3rem;
    }
    
    a {
        margin: 0 auto;
        width: 150px;
        color: $color2;
        padding: 1rem;
        border: 2px solid $color2;
        border-radius: 2px;
        text-decoration: none;

        &:hover {
            color: white;
            background-color: $color2;
        }
    }

}