@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');
@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'Montserrat', sans-serif;
	background-color: $bcolor1;
	text-align: center;
	color: white;  
}

main {
	max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem 0 1rem;
    text-align: center;
    
    section {
        padding-top: 100px;
    }

    h3 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
}